#gims {
    /* background-image: url('../Musiques/maître\ Gims/ceinture\ noire/folder.jpg'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    height: 100%;
}

.image_change{
    object-fit: cover;
}

.playPlaylist {
    cursor: pointer;
}

main {
    overflow: hidden;

}

header {
    position: relative;
}

#musicplay {
    transform: translate(10000px);
    transition: all 200ms ease-in-out;
    height: 0;
    /* display: none; */
}

#musicplay.active {
    /* display: block; */
    height: 100%;
    transform: translate(0);
}

#playlist {
    transform: translate(10000px);
    transition: all 200ms ease-in-out;
    height: 0;
    /* display: none; */
}

.m {
    overflow: scroll;
    scrollbar-width: none;
}

#playlist.active {
    /* display: block; */
    height: 100%;
    transform: translate(0);
}

/* cacher la partie music complet */

#free {
    display: none;
}

/* montrer la partie music complet */
#free.active {
    display: block;
}
